<app-app-header></app-app-header>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form class="mt-4">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign Up</p>
            </div>
            <hr>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" name="email" [(ngModel)] = "email" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" name="pass" [(ngModel)] = "pass"/>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2 mx-auto">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click) = 'signup()'>Sign Up</button>
            </div>
            <div class="px-4 pt-5 my-5 text-center" *ngIf="logged">
              <h1 class="display-4 fw-bold" style="color: green;">{{message}}</h1>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>