<div>
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Spicy</strong>
              <h3 class="mb-0">Nachos</h3>
              <p class="mb-auto">Nachos are a Mexican regional dish from northern Mexico that consists of heated tortilla chips or totopos covered with melted cheese.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" width="200" height="250" src="../../assets/nachos.jpeg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Spicy</strong>
              <h3 class="mb-0">Tacos</h3>
              <p class="mb-auto">
                A taco is a traditional Mexican dish consisting of a small hand-sized corn or wheat tortilla topped with a filling.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" width="200" height="250" src="../../assets/taco.jpeg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
    
            </div>
          </div>
        </div>
      </div>
</div>